.calculator-root {
	border: 4px black solid;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: repeat(6, 1fr);
}

.display {
	border: 2px red dotted;
	grid-column: 1 / 5;
}

.active-button {
	background-color: green;
}

.zero {
	grid-column: 1 / 3;
}